/* width */
::-webkit-scrollbar {
   width: 20px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   border-radius: 15px;
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
    background: #ff9c07; 
    border-radius: 15px;
    height: 20px;
   }
   
   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
    background: #ffc107; 
 }
 
.contact-nav{
    /* background-color: #efbd17; */
    height: 35px;
}
.navbar-dark .navbar-nav .nav-link{
   color: whitesmoke;
}
.navbar-dark .navbar-nav .nav-link:hover {
   color: #ffc107;
}
.navbar-dark .navbar-nav .nav-link.active{
   color: #ffc107;

}
.carousel-item,.carousel-item .active{
   height:650px;
}
.main-cover{
   background: linear-gradient( rgb(0 0 0 / 49%), rgba(0, 0, 0, 0.7) ),url(/images/1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
         background-blend-mode:darken;
        text-align: center;
        color: #ffffff;
        min-height: 600px;
        width: 100%;
 }
 .cover p:first-child{
    font-size: 1.3rem;
 }
 section .welcome{
    margin-top: 50px;
 }
 .advantages{
    background-color: #f0ffff;
    padding-top: 70px;
    padding-bottom: 70px;
 }
 .advantages i{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-shadow: 0px 0px 5px 7px #efbd17, 0px 0px 0px 7px #ffffff, 0px 0px 10px 7px #efbd17, 0px 0px 0px 3px #ffffff, 0px 0px 11px 8px #efbd17, 0px 0px 0px 6px #ffffff, 0px 0px 17px 2px #efbd17, 0px 0px 0px 5px #ffffff,
    0px 0px 5px 7px #efbd17, 0px 0px 0px 7px #ffffff, 0px 0px 10px 7px #efbd17, 0px 0px 0px 3px #ffffff, 0px 0px 11px 8px #efbd17, 0px 0px 0px 6px #ffffff, 0px 0px 17px 2px #efbd17, 0px 0px 0px 5px #ffffff;
    
 }
 .quote{
   font-size: 2.5rem;
   font-weight: 100;
 }
 footer{
   background: linear-gradient( rgb(0 0 0 / 49%), rgba(0, 0, 0, 0.7) ),url(/images/1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
         background-blend-mode:darken;
   position: sticky;

 }
 footer .social-icons i{
   font-size: 1rem;
   width: 30px;
   height: 30px;
   background-color: #efbd17;
   border-radius: 50%;
  line-height: 30px;
  margin-right: 5px;
  text-align: center;
 }
 footer li{
   line-height: 2rem;
 }
 footer li a.text-light:hover{
   color: #efbd17!important;
 }
 footer .posts i{
   width: 41px;
   height: 41px;
   border-radius: 50%;
border: 4px solid;
text-align: center;
font-size: 1.7rem;
line-height: 41px;

 }
 .footer-bottom{
   position: -webkit-sticky;
   position: sticky;
   bottom: 0;
  
 }